/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-*
/test/dummy/log/*.log
/test/dummy/storage/
/test/dummy/tmp/
/test/dummy/app/javascript/types/
/test/dummy/kotlin/
/test/dummy/config/initializers/rtypes.rb

# bundle
/bundle/*
!/bundle/.keep

Gemfile.lock
