services:
  app:
    build:
      context: .
    working_dir: /app
    environment:
      RAILS_VERSION: 6.1
    volumes:
      - .:/app
      - ./bundle:/usr/local/bundle
    depends_on:
      - db
  db:
    image: postgres:18.1
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
