# This workflow uses actions that are not certified by GitHub.  They are
# provided by a third-party and are governed by separate terms of service,
# privacy policy, and support documentation.
#
# This workflow will install a prebuilt Ruby version, install dependencies, and
# run tests and linters.
name: "Ruby on Rails CI"
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:18.1-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
    env:
      RAILS_ENV: test
      DATABASE_HOST: localhost
      CI: true
    strategy:
      matrix:
        ruby:
          - 3.2.9
          - 3.1
          - 3.0.7
        rails: 
          - 7.1
          - 6.1

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      # Add or replace dependency steps here
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
        env:
          RAILS_VERSION: ${{ matrix.rails }}
      # Add or replace test runners here
      - name: Set up database schema
        run: cd test/dummy; bin/rails db:schema:load
      - name: Run tests
        run: bin/test
